/* Font Declaration */
@font-face {
  font-family: Mensch;
  src: url(FntRes/mensch.woff);
}

@font-face {
  font-family: Sailor;
  src: url(FntRes/Sailor.woff2);
}
/* End Font Declaration */

/* Root Definitions */
body, html {
  height: 100%;
  margin: 0;
}

.Wrapper {
  background-color: #343233;
  width: 100%;
  height: 100%;
}
/* End Root Definitions /*

/* Navigation Bar */
.Navigation ul {
  list-style-type: none;
  background-color: #FFD152;
  overflow: hidden;
  margin: 0;
  padding-left: 2vw;
}

.Navigation li {
  float: left;
}

.Navigation li a {
  display: inline-block;
  color: #343233;
  font: 1rem Sailor;
  padding: 20px 10px;
}

.Navigation .Name {
  padding-right: 2vw;
  float: right;
}
/* End Navigation */

/* Infographic Area */
table {
    border: solid #EED9B7 0.4vw;
    border-radius: 6px;
}

table tr:first-child td {
     border-top: none;
     color: #78AF9F;
     font-weight: bold;
}

.Button {
  position: absolute;
  background-color: #FFD152;
  border-radius: 6px;
  top: 93.5%;
  left: 49%;
  width: 90%;
  height: 10%;
  transform: translate(-50%, -50%);
}

.Button p {
  color: #343233;
  font: 1.5rem Mensch;
  transform: translate(25%, -50%);
}

td {
    border-top: solid #EED9B7 0.2vw;
    font: 5.5vw Mensch;
    text-align: center;
    color: #EFDAB9;
    padding: 16px 40px;
  }
/* End Infographic Area */

/* Icons */
.Icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.Detail {
  position: fixed;
  top: 50%;
}
/* End Icons */

/* Locations */
.Center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Locations */

/* Particles */
#mobile-js {
  width: 100%;
    height: 100%;
    position: fixed;
}
/* End Particles */
