/* High Level Declarations */

@font-face {
  font-family: Dosis;
  src: url(fnt/Dosis-Regular.woff);
}

a:focus, a:hover {
  color: inherit;
  text-decoration: none;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Dosis;
}

h1 {
  font-size: 66px;
}

h2 {
  font-size: 33px;
}
/* End High Level Declarations */

/* Navigation */
#Navigation {
  height: 60px;
  background: #121826;
}

#Navigation a {
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  transition: border-width 0.1s ease;
  border-bottom: 3px #EE4E7C solid;
}

#Navigation a:hover {
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 8px #EE4E7C solid;
}

.Branding {
  float: left;
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.NavMenu {
  float: right;
  list-style: none;
  margin: 15px;
}

.NavMenu li {
  display: inline-block;
  margin: 0 20px;
}

.NavMenu li a {
  font-size: 25px;
}
/* End Navigations */

/* Headers */
#Header {
  text-align: center;
}

.Header-Thumb {
  background: #FFFFFF;
  border: 6px solid #EE4E7C;
  padding: 32px 16px 32px 16px!important;
}

.Header-One { /* Landing */
  background: #121826;
  height: 80vh !important;
  padding-top: 150px !important;
}

.Header-Two { /* Stock */
  padding-bottom: 30px;
  font: 40px Dosis;
}

.Header-Three {
  color: #FFFFFF;
  font: 40px Dosis;
  padding-top: 80px;
}

.Header-Four {
  color: #EE4E7C;
  font-size: 24px;
  letter-spacing: 0.1rem;
}

p#Header.Header-Five {
  color: #FFFFFF;
  font: 30px Dosis;
  padding-top: 20px;
}

.Adjust {
  padding-bottom: 20px;
}
/* End Headers */

/* Stock */
#Stock {
  padding-top: 75px;
  padding-bottom: 25px;
}

.Item {
  margin-bottom: 30px;
}

.Thumb {
  position: relative;
}

.Overlay {
  background: #141414;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.Thumb:hover .Overlay {
  opacity: 0.9;
}

.Stock-Item {
  text-align: center;
  padding: 30% 20px 20px;
  color: #FFFFFF;
  opacity: 1;
}

/* End Stock */

/* About */
#About {
  height: 75vh;
  background: #121826;
}
/* End About */

/* Contact */
#Contact {
  height: 100vh;
  background: #121826;
}

.Title {
  padding-top: 20px;
  color: #FFFFFF;
}

.Details {
  color: #FFFFFF;
  font-size: 26px;
}

.VerticalDiv {
  visibility: visible;
  position: absolute;
  background: #EE4E7C;
  left: 20%;
  height: 50vh;
  width: 4px;
}

.Alt {
  left: 80%;
}
/* End Contact */

/* Footer */
footer {
  height: 30vh;
}

.Footer-Copyright {
  padding-top: 40px;
  font: 20px Dosis;
}

.Fineprint {
  font: 14px Dosis;
}

.Fineprint a {
  color: #333333!important;
}

#SocialMedia {
  padding-top: 20px;
  padding-right: 40px;
}

#SocialMedia a {
  margin: 0 20px 0 20px;
}

.Icon {
  width: 36px;
  height: auto;
}

.Icon:hover {
  border-bottom: 5px #EE4E7C solid;
}
/* End Footer */

/* Scrollbar */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track-piece{
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background-color: #EE4E7C;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #DE3368;
}
/* End Scrollbar */

/* Mobile Modifications */
.Mobile {
  visibility: hidden;
}

.NonMobile {
  display: inline-block;
}

@media screen and (max-width: 640px) and (min-width:320px) {
  .Mobile {visibility: visible!important;}
  .NonMobile {display: none!important;}
  .Branding {margin: 15px 10px;}
  .NavMenu {float: right;}
  .NavMenu li {margin: 0 10px;}
  #Navigation a {font-size: 22px!important;}
  .Header-One {padding-top: 125px!important;}
  #About {height: 100vh}
  .Icon {width: 26px;}
  #SocialMedia a {margin: 0 15px 0 15px;}
  .VerticalDiv {visibility: hidden;}
}

@media screen and (max-width: 320px) {
  #Navigation a {font-size: 17px!important;}
  .Header-One {padding-top: 50px!important;}
  .Header-Four {font-size: 20px;}
  .Icon {width: 20px;}
  #SocialMedia a {margin: 0 10px 0 10px;}
}
/* End Mobile Modifications */
